* {
   /* background-image: url('./background.jpg');
    background-position: center;
    background-size : cover;*/
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: auto;
    width: auto;
    /* background-color: greenyellow; */
}
