.navbar {
    background-color: #717173;
}

    .navbar .navbar-nav .nav-link {
        color: #fff;
    }

        .navbar .navbar-nav .nav-link:hover {
            color: #13aa64;
        }

    .navbar .navbar-nav .active > .nav-link {
        color: #fbc531;
    }


